    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Baldi Hot Spring Water</h2>
        <p> Baldi provides 25 of the most thermal mineral waters in the world, that flow naturally

from the volcano. Their medicinal waters certified by the National Water Laboratory

of Costa Rica (L.N.A. in spanish), each one of the different temperatures that go

from 93 to 152º F.</p>

       <p>This is the largest hot springs facility at Arenal and La Fortuna area. It also has a

bar and a good restaurant and is the most popular hot springs among the young

crowd. Spa treatments are operated by Delphi Bio Spa, a professional company

offering high quality therapeutic body treatments, massages, exfoliations, facial

treatments and others, all with the goal of enhancing your relaxation.</p>

       <p>Three different slides with different speed give you the opportunity to have fun. </p>
       <p>Great relaxing opportunity, give your body a price after been busy the all day.</p>
       
     
       </div>

       <div class="col-md-5" >
           




       </div>

     


  </div>



