    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Braulio Carrillo National Park</h2>
        <p> Established in April 15 th 1978, the park was formed as an agreement with

environmental lobbyists to limit and prevent development of the area after the

construction of the road to Limon a major road linking the capital to Caribbean

cargo ports. The park was named in honor of former Costa Rican president Braulio

Carrillo, (1837 to 1842) whose administration had helped foster the nation&#39;s early

agricultural economy and had built the first road linking San José to the Caribbean

coast.</p>

       <p>Is part of the Central Volcanic Mountain Range, located on the eastern edge of San

José, with easy access from the road to Limón, which bisects the park running

roughly east-west.</p>

       <p>With an extension of 47.583 hectares (117.842 acres) and with an average of 4.500

mm of rain per year, the park is home of around 6.000 species of vascular plants,

515 species of birds and 135 of mammals. Thousands of insects and mushrooms

also reptiles, amphibious and butterflies are abundant. </p>
       <p>The park is extremely important for the protection of aquifers, which provide

mostly of the water to the Central Valley where 50% of the population inhabit,

around 2.5 millions.</p>
       <p>Contains many notable geological features, such as the Barba Volcano with three

crater lakes: Barva, Danta and Copey. Cerro Chompipe, Cerro Cacho Negro,

Hondura River, Patria River and the famous mineral-discolored Sucio (Dirty) River,

located exactly where this river join the Hondura river with clear water. Obtained

its name due to the sulfur origin or the water, which start at the highest part of

Irazú volcano (active one), and gives the water the yellow intense color. The

confluence of both rivers is the vertex of the provinces of San José, Cartago and

Limón.</p>
       <p>
         The park varied altitude from nearly 6.000 feet, from the highest to lowest points.

Ranging from high altitude cloud forest to lowlands rainforest, it maintains one of

the highest levels of biodiversity. Mostly is covered with old growth forest.
       </p>
     
       </div>

       <div class="col-md-5" >
           




       </div>

     


  </div>



