    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Cahuita National Park</h2>
        <p> Cahuita National Park is located just south of the town of Cahuita, about 43

kilometers south of Limón with an extension of 5.303 hectares (10.600 acres) on

the Caribbean coastline in one of the most beautiful and scenic regions in Costa

Rica. Its main attractions are the white sand beaches fringed with endless coconut

trees, a calm sea of transparent waters and the coral reefs just offshore.</p>

       <p>The most attractive feature for divers is the underwater garden of marine life,

including several types of coral, such as the brain and Elkhorn coral. Also living in

this medium are large numbers of very colorful tropical fish and invertebrates, like

urchins, sea fans, angelfish, blue parrotfish, barracudas and stingrays, amongst

others.</p>

       <p>There&#39;s also a great variety of land and air animals, such as raccoons, crabs (land

and water), howler monkeys, kingfishers, night herons, white-nosed coatis, frogs,

toads and snakes. </p>


       <p>Most of Cahuita consists of a swamp located in the depression that lies between

the coral platform and the mainland. Other habitats in the park are inundated mixed

forest and littoral woodlands.</p>


       
       <p>
         Interesting feature of the park is a shipwreck located on the north of the mouth of

the river Perezoso, which sank in the 18th century and was used to transport

slaves.
       </p>
     
       </div>

       <div class="col-md-5" >
           




       </div>

     


  </div>




