    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Caño Negro Wildlife Refuge</h2>

        <p> This wilderness area of this park is made up of a big lake and the

marshlands surrounding it, made by alluvial sediments.  It covers an

expanse of approximately 9.900 hectares (19.800 acres) and its 3

meters deep, surrounded by secondary forest that&#39;s close to rivers,

canals, and wetlands, which make it easy to observe</p>



       <p>This refuge is gaining popularity amongst nature oriented tourists. The

reason is that the lake fills at the beginning of the rainy season with the

runoff from the river Frio. This natural phenomenon creates a perfect

environment for birds breeding, thus providing a bird-watcher&#39;s

paradise.</p>

       <p>The variety of birdlife is astounding, in this park the visitor can find

spoonbills, white ibis, northern jacana, wood stork, jabirú (which is the

largest bird, and seriously endangered), ducks, egrets, tanagers,

flycatchers and much more. </p>


       <p>There are also many endangered animals being protected here like

pumas, jaguars, ocelots and caymans, as well as some more common

species such as monkeys, peccaries, raccoons, otters, sloths and

deer. They come together to make a magnificent scene.</p>


       
       <p>
         The refuge lies close to the settlement of the Malekus indigenous

group that once lived in the area. This reserve is located 165

kilometers straight north from San José, southeast of the town of Los

Chiles, near the Nicaraguan border.

       </p>

       <p>
           Because of its large ecological contributions, Caño Negro became one

of the most important wetlands in the world. The refuge serves as an

important habitat for a great quantity of migratory birds, most of them in

danger of extinction. They visit this natural paradise annually, which is

declared as the third Ramsar site of major importance in the world.

This statement was agreed upon at the Wetlands Convention of

International Importance (Ramsar Convention).
       </p>
     
       </div>

       <div class="col-md-5" >
           




       </div>

     


  </div>





