    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Canopy Tour</h2>

        <p> Time to fly, you are going to enjoy the famous canopy tour. Is a system of cables of

different heights and extension, were you will be flying from platform to platform

true the forest, where you are going to wear pulleys, globes and helmet.</p>



       <p>This tour is suitable for anyone over the age of 8, but for safety reason, a weight

restriction of 280 pounds, a maximum waste width of 120 cm, and maximum thigh

width of 80 cm must apply. This tour lasts approximately 2.5 hours. Does not

require any kind of particular athletic ability. You only need to be able to sit down,

remain calm, and focus your attention on the zip line you’re about to travel

down—guides and gravity do the rest.</p>

       <p>Is an adventure tour full of adrenaline above the treetops that allows you to

observe the rainforest and its landscape from a different perspective and safely. </p>


       
       <p>
           Before you go flying down the zip lines, your guides, who are well training, will

teach you the proper techniques, including how to hold onto the cable and how to

position your body. They will make sure that your high quality gear is properly

adjusted and help you launch off from each platform. Soon after, the flight through

the forest begins. Have fun.
       </p>
     
       </div>

       <div class="col-md-5" >
           




       </div>

     


  </div>






