    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Canyoning Tour</h2>

        <p> Canyoning in Costa Rica is more than just rappelling -- it&#39;s a very active and

physical sport where you use your whole body to make your way down a beautiful

river canyon and hike through deep rainforest.</p>



       <p>The tour begins doing a fun roads adventure. Once you rich the top, your guides

will fit you with canyoning equipment and explain the proper way to descend the

falls. You´ll rappel down the center of several gushing falls—you’ll get wet, but it’s

an experience that you and your family will never forget!</p>

       <p>When you’re comfortable with the procedure you’ll begin rappelling down the first

waterfall, whose base leads into a pristine canyon. </p>


       
       <p>
           From here on out, there are more waterfalls to rappel down and one rock face, as

well jumping into the water, suspension bridges, Tarzan Swing, free rope descent,

zip line and hike.
       </p>

       <p>In the meantime look around the forest, there are chances to see wildlife. Once

finished, your guides will help you back to the vehicles and you’ll head to the base

camp.</p>
       <p>This tour can be enjoyed by anyone in moderate physical condition. It is child

friendly and no experience is needed. All guides are trained in Wilderness First Aid

and CPR, bilingual, and there are daily safety checks on all the equipment.</p>
     
       </div>

       <div class="col-md-5" >
           




       </div>

     


  </div>







