    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Corcovado National Park</h2>
        <p> Declared as a protected area since 1975 is the jewel of Costa Rica National Park

system. Definitely huge with 41.800 hectares (83.600 acres) tropical rainforest,

covering around 1/3 of Osa Península and 5.375 hectares (10.750 acres) of

marine zone.</p>

       <p>Corcovado National Park is an undeniably beautiful place, considered to be one of

the most important natural preserves in the Americas, this virgin rain forest park

invites superlatives from all who visit.</p>

       <p>There are 8 main habitats in this park, mountain forest, cloud forest, alluvial plains,

swamp and yolillo (Raphia taedigera) forest, fresh water herbaceous swamp,

mangrove swamp and a rocky coastline, with all this diversity make Corcovado a

botanist&#39;s dream. Jaguars, anteaters, white-lipped peccaries, tapirs, inhabit the

vast reaches surrounding the crocodile-filled lagoon at the park&#39;s center. The

captivating visual beauty of its forest and of its coastline, with miles of uninhabited

beaches and roaring cascades, draws visitors from all over the world. Also is one

of the few places in the country hosting the Squirrel Monkey and the Scarlet

Macaw both endangered. </p>

<p>  With 500 species of trees, 140 species of mammals, 367 species of birds, 40

species of freshwater fishes and 117 species of amphibians recorded here, it is

easy to understand why Corcovado National Park has been called &quot;the most

biologically intense place on Earth&quot; by National Geographic. Is probably the only

place in the world with more biological diversity according with the size of the park.</p>



       </div>

       <div class="col-md-5" >
           




       </div>

     


  </div>





