    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Curu Wildlife Refuge</h2>
        <p> Curu Refuge is located in the lovely region of Nicoya Guanacaste, with 84 hectars

(185 acres). Despite its small size, it houses a great variety of both terrestrial and

marine biodiversity. Contains Costa Rica’s first private National Wildlife Refuge and

is an example of a successful sustainable development program. It was

established in 1933 by Federico Schutt de la Croix, and it was originally purchased

on October 1, 1933 for 12,000 Costa Rican colones.</p>

       <p>The existing habitats include semi-deciduous forest with a mixture of evergreen

and semi-deciduous species, low growing forest near the beach, mangrove

swamps and littoral woodland.  Some of the larges trees in these forest are the silk

cotton, the Panama and the redwood.</p>

       <p> Mammals that can be seen in both the refuge and the neighboring forests include

the white-tailed deer, raccoons, pacas, opossums, monkeys, coyotes and coaties.

There&#39;s also a lot of species of reptiles like the green iguana and boa constrictor. 

Birds can also be found here in abundance, such species like the laughing falcon,

broad-winged hawk and the cattle egret are a common sight.</p>

<p>  Aquatic life include nocturnal hermit crabs, which are very numerous on the beach

and on land.  There is an almost extinct species of oyster (Ocypode occidentalis)

can be found here, as well as lobsters, chitons and mouthless crabs.</p>



       </div>

       <div class="col-md-5" >
           




       </div>

     


  </div>






