    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Danaus Eco Center</h2>
        <p> Danaus is without a doubt a nature paradise, like a nature oasis surrounded by

pasture, rice and pineapple plantations.</p>

       <p>Within the small ecological reserve which regenerated naturally, thanks to the

efforts of a group of people concerned about conservation of our environment

and education of our children and adults of the outlying areas, is how this

wonderful project was born  and cooperated with the tourist development of the

town of La Fortuna. Also they included training and sustainable production

programs, tree nursery of native species in danger of extinction.</p>

       <p> In it we will find a Botanical Garden whit a lot of species, Butterfly gardens

were you can see all their circle of life: eggs, larvae and chrysalides. Whit their

own spring water forming a small lagoon you can see birds and reptiles. There

are areas destined to frog reproduction in a natural way, and areas dedicated

to the exhibition of medicinal plants.</p>

<p>  Wild life like butterflies, Three and Two Toed Sloths, Agouties, Caiman,

Basilisks, Blue Jeans Poison Dart Frog and around 100 species of birds are

commonly found at the area.</p>



       </div>

       <div class="col-md-5" >
           




       </div>

     


  </div>






