    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
        <div class="col-md-7" > 
        <h2>Don Juan Eco-Farm</h2>
        <p> He is a local farmer who takes great pride in teaching visitors about tropical

farming and native and non-native plants, including their medicinal, industrial and

cooking uses, and health benefits. He is especially proud of his bio-digester

methane gas production system that uses cow manure as a fuel source to produce

methane gas for cooking! We&#39;ll tour the fields picking products, test your skills with

a tortilla-making challenge and enjoy lunch prepared by local ladies, using freshly

picked fruits and vegetables from the farm.</p>

       <p>In the same property they have a “trapiche” you will see from first hand the process

of sugar cane, drink it and enjoy the process sugar cane liquor: “guaro”.</p>

       <p> A local family who are very proud of their work done in the farm: organic products.

They love to teach local people about his farming and very proud about their food.</p>

<p>  Also we can meet Chocolate and Leche, his 2 caws and his biodigestor methane

gas production. He uses cow manure as a fuel source to produce the gas for his

kitchen.</p>
<p> Part of your duties at the farm will be collecting some of the products use for your

lunch, also tortillas lessons</p>



       </div>

       <div class="col-md-5" >
        <div>
            <img src="../images/donjuan.jpg" alt="" class="img-responsive">
        </div>
         <div>
            <p><i>"We started this project with a vision of creating a

viable, organic, educational farm. My family and I are incredibly

pleased with what we have been able to achieve up to this point. We

are continually looking for ways to build the educational piece of this

endeavor in the hopes of convincing others of the importance of conservation and

the viability of organic practices. We hope you understand the importance of our

work here.</p>
<p>We speak organic. Education for a Sustainable Planet!" </i></p>
<p>Sincerely: Don Juan Bautista and his family.</p>
        </div>




       </div>

     


  </div>






