    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
      
        <h2>Costa Rican Forest - Itenerary</h2>
        <p><strong>B: Breakfast, L: Lunch, D: Dinner. Day 1</strong>: After you exit the terminal at the international airport in San José you will be greeted by our representative who will then transfer you to your hotel, only 20 minutes from the airport.</p>
        <p><strong>Day 2:</strong> Your guide will meet you in the hotel lobby to take you to <a target="_blank" href="#/arenal">Arenal Volcano.</a> On the way you have the opportunity to stop at the coffee plantations, and learn a lot about this crop. After 1.5 hours driving you´ll be entering into <a target="_blank" href="https://en.wikipedia.org/wiki/Po%C3%A1s_Volcano">Poas volcano national park</a>, one of the actives ones. Easy access and great look out point, were con can smell the sulfur and see (if the weather conditions permit) the main crater. Excellent trails. At the end you will be traveling true mountains and valleys, after about 3 hours you will be reaching <a target="_blank" href="#/arenal">Arenal volcano</a> for 2 nights. Hotel Observatory Lodger or similar. B and L included. </p>
        <p><strong>Day 3:</strong> You are welcome to enjoy the hotel gardens before breakfast, searching for birds, lizards, monkeys and more. At mid-morning you are going to hike in the rainforest: Suspension Bridges for around 2.5 hours, chances to find a lot of wildlife and also at the look out point you are going to have a great view of the volcano. At the afternoon you are going to feel like Tarzan: <a target="_blank"  href="#/canopy">Canopy tour </a>, a great adventure true zip lines. Around 5 pm will be time to relax, and you will be visiting the <a target="_blank" href="https://www.baldihotsprings.cr/hot-springs/">Hot spring water </a>, a private place were you can relax and also a delicious dinner will be served. B, L and D included.</p>
        <p><strong>Day 4: </strong>You can just relax at the hotel, or ask your guide for tour options. At convenient time you will be transfer to Los Angeles Cloud Forest: <a target="_blank" href="http://villablancahotel.com" >www.villablancahotel.com </a> On the main hilltop is the Hacienda House, where you can enjoy fresh baked breads and pastries at El Cafe del Bosque, or a game chess or billiards in El Mirador de Los Angeles salon. Also enjoy the fine country-style dining in the charming restaurant El Sendero. B, L included.   </p>
        <p><strong>Day 5:</strong> These morning you can enjoy the hotel facilities and live at any time to <a target="_blank" href="https://en.wikipedia.org/wiki/Manuel_Antonio_National_Park">Manuel Antonio National Park </a>, located in the middle pacific coast. On the way you will be taking a tour at the Tárcoles River were you can see crocodiles very close, as well birds, lizards and more. B and L included.</p>
        <p><strong>Hiking day at the park. Day 6:</strong> After breakfast you will be driving only 5 minutes to the park entrance. Time to enjoy a wonderful walk for around 2 hours and then you can stay at the beaches as longer you want. Your guide will be today with you until you finish your activities and then he will return back to San José. Don´t forget to ask him for more activities at the area before he lives or you can just relax at the beach and/or at the hotel. B and L included.</p>
        <p><strong>Day 7:</strong> Relaxing. At leisure B included.</p>
       <p><strong>Day 8:</strong> Back home. At convenient time you will be picking up and transfer to the local airport, only 30 minutes flying to San José. Once in San José, you will be transfer to the international airport. The airlines companies require been 3 hours ahead of your departure time. B included. <strong>Have a nice trip back home.</strong> </p>
       <p>Contact us for more details.</p>


     


  </div>

 <div class="col-md-12" > 
  <a class="backhome" href="#/"><i class="fa fa-chevron-left"></i> Back</a>
 </div>
