    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/"><h2>Travel with friends CR</h2></a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-if="!vm.CR" ><a href="#/">Home</a></li>
              <li ng-if="!vm.CR" ><a href="#/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>   
   
   
   
    <div ng-if="!vm.CR" class="jumbotron main-jumbotroncr">
      <div class="container">
        <div class="content">
          <h1>Welcome to travel with friends Costa Rica</h1>
          <p class="margin-bottom">We offer different options to get to know our country! Traveling with friends and experience the beauty Costa Rica offers</p>
        </div>
      </div>
    </div>


  <div class="col-md-12" > 
      
        <h2>Taste of Costa Rica - Itenerary</h2>
    <p><strong>B: breakfast, L: lunch, D: dinner.</strong></p>
<p><strong>1st day:</strong> After you exit the terminal at the international airport in San José you will be greeted by our representative who will then transfer you to the <a target="_blank" href="#/arenal">Arenal Volcano.</a>. On the way you will be seen a lot of different plantations. Naturalist Guide and Driver will be with you all the time. B and L included.</p>
<p><strong>2nd day:</strong> Arenal. Some activities to do in Arenal: <a target="_blank"  href="#/canopy">Canopy tour </a>. <a href="https://www.google.com/search?q=Suspension+Bridges+costa+rica&espv=2&biw=1536&bih=760&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiplo6w0rDQAhVJ6mMKHQjCCJMQ_AUIBigB" target="_blank">Suspension bridges.</a> <a  href="#/canyoning" target="_blank">Canyoning tour</a> Horseback riding. <a target="_blank" href="#/baldi">Hot spring water </a>. Bird watching. <a href="#/canonegro" target="_blank">Caño Negro</a> <a href="#/curu" target="blank">Wildlife Refuge.</a> <a href="#/donjuan" target="blank">Ecological farm Don Juan.</a> <a href="#/chocolate" target="blank">Chocolate tour.</a> B and L included.</p>
<p><strong>3rd day:</strong> After breakfast you`ll start your transfer up to Monteverde Cloud Forest. After lunch you will be hiking into the cloud forest as longer you like. B and L included.</p>
<p><strong>4thday:</strong> More activities to do in <a href="https://en.wikipedia.org/wiki/Monteverde" target="_blank">Monteverde</a>: ATV tours. Horse Back Riding. Twilight tour. Butterfly farm. Ecological Sanctuary. Frog Pound. B and L included.</p>
<p><strong>5th day:</strong>After breakfast, mid-morning departure by car and also crossing the Golf of Nicoya via ferry to Playa Tambor for two nights. Beautiful Hotel with private beach, lookout point to enjoy the sunset. B and L included.</p>
<p><strong>6th day:</strong> More activities at the area: <a href="https://www.google.com/search?q=tortuga+island+costa+rica&espv=2&biw=1536&bih=760&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiA2ZDIqLDQAhVIhlQKHVmKAmkQ_AUIBigB" target="_blank">Isla Tortuga</a>. Kayak. Snorkeling. Curu Wildlife Refuge. Horseback riding. B included.</p>
<p><strong>7th day:</strong> At leisure. </p>
<p><strong>8th day: </strong> This morning, at convenient time, you’ll have a private transfer to the International Airport, where you will board your flight back home. Have a nice trip back home. Get in contact with us for more details.</p>


     


  </div>

   <div class="col-md-12" > 
  <a class="backhome" href="#/"><i class="fa fa-chevron-left"></i> Back</a>
 </div>

